/* fullstack.css - Controls the layout of the webApp */

.page-header {
	min-height: 100%;
	text-align: left;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto;
	margin-top: -15px;
}
.header-contents {
	top: 70%;
	left: 35%;
	position:absolute;
}
.header-contents h1 {
	font-size: 120px;
	font-weight: 300;
}
.header-contents button {
	font-size: 35px;
	border-radius: 30px;
	font-weight: 300;
}

.header-contents button:focus {
	outline: None;
}
